attrs
certifi
chardet
click
clickclick2
connexion
Flask
idna
importlib-metadata
inflection
itsdangerous
Jinja2
joblib
jsonschema
MarkupSafe
numpy==1.18.2
openapi-spec-validator
pyrsistent
PyYAML
requests
scikit-learn
scipy
six
sklearn
urllib3
Werkzeug
zipp
pandas
matplotlib
